@import "./util/scss/main.scss";

.page-greenthumb {
    .banner-green-container {
        .wrapper {
            img.logo {
                margin-bottom: rem-calc(50);
            }
            h1 {
                max-width: rem-calc(400);
                top: 0;
                color: map-get($foundation-palette, white);
                font-size: rem-calc(70);
                margin-bottom: rem-calc(31);
            }
        }
    }
    .select-container {
        display: flex;
        flex-wrap: wrap;
        gap: rem-calc(99);
        padding: rem-calc(55) 0;
        .select-box {
            max-width: rem-calc(219);
            .image-box {
                margin-bottom: rem-calc(13);
                img {
                    max-height: rem-calc(75);
                }
            }
            .label-box {
                margin-bottom: rem-calc(25);
                span {
                    font-size: rem-calc(14);
                    color: map-get($foundation-palette, label-gray);
                }
            }
            select {
                border-color: map-get($foundation-palette, select-border-gray);
                padding: rem-calc(10) rem-calc(18);
                border-radius: 19px;
                max-width: rem-calc(219);
                width: 100%;
                color: map-get($foundation-palette, select-border-gray);
                font-size: rem-calc(14);
                cursor: pointer;
            }
        }
    }
    .no-results-container {
        display: flex;
        flex-wrap: wrap;
        * {
            color: map-get($foundation-palette, light-gray);
        }
        .no-results {
            &--text {
                width: 50%;
                h2 {
                    font-size: rem-calc(45);
                    margin-bottom: rem-calc(13);
                }
                span {
                    display: block;
                    max-width: rem-calc(221);
                    font-size: rem-calc(16);
                }
            }
            &--image {
                max-width: rem-calc(203);
            }
        }
    }
    @media(min-width: map-get($breakpoints, large)) {
        .banner-green-container {
            position: relative;
            display: flex;
            background: url(/images/hero/desktop/plantperson.png) no-repeat;
            background-color: map-get($foundation-palette, tertiary);
            justify-content: center;
            width: 100%;
            background-size: contain;
            background-position-x: center;
            &::before {
                content: '';
                display: block;
                background: url(/images/hero/desktop/left-leaves.png) no-repeat;
                background-size: contain;
                width: 100%;
            }
            &::after {
                content: '';
                display: block;
                background: url(/images/hero/desktop/right-leaves.png) no-repeat;
                background-size: contain;
                width: 100%;
            }
        }
    }
    @media(max-width: map-get($breakpoints, large)) {
        .banner-green-container {
            position: relative;
            display: flex;
            background: url(/images/hero/mobile/mobile-leaves.png) no-repeat;
            background-color: map-get($foundation-palette, tertiary);
            justify-content: center;
            width: 100%;
            background-size: contain;
            background-position-x: center;
            &::after {
                content: '';
                display: block;
                background: url(/images/hero/mobile/mobile-plantperson.png) no-repeat;
                background-size: contain;
                width: 100%;
            }
        }
    }
}